/* generics */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: sans-serif;
    text-align: center;
}

/* utilities */

/* content */

ol {
    padding-top: 40px;
}

li {
    margin: 8px auto;
}