/* generics */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: sans-serif;
    text-align: center;
}

/* utilities */

/* content */

ol {
    padding-top: 40px;
}

li {
    margin: 8px auto;
}

.line-through {
    text-decoration: line-through;
}

.remove {
    background-color: red;
    border: 1px solid red;
    border-radius: 50%;
    padding: 5px;
}