<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/script.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Vue To Do List</title>
</head>

<body>
    <div id="app">
        <h1>TO DO THINGS</h1>
        <div>
            <input v-model="newThing" type="text" placeholder="Nuova Task" name="" id="">
            <button @click="addItem">Aggiungi</button>
        </div>
        <ol>
            <li v-for="(thing,index) in toDoThings">
                {{ index+1 }} -
                <span v-bind:class=" thing.done ? `done` : `notDone`">
                    {{ thing.text }}
                </span>
                <span>
                    <button class="remove" @click="removeItem(index)"> X </button>
                </span>
            </li>
        </ol>
    </div>
</body>

</html>